{% extends "header.html" %}

{% block content %}

{% include "book_modal.html" %}

<div class="w-full mx-auto">
    <main class="mt-5">
        <div class="flex flex-col items-start justify-center w-full h-full md:flex-row md:h-1/2">
            <div class="flex justify-center transform sm:text-center lg:text-left">
                <div class="flex gap-4 gap-y-1">
                    <div class="col-1">
                        <div
                            class="container flex flex-col items-center justify-center w-full mx-auto bg-white rounded-lg shadow dark:bg-gray-800">
                            <div class="w-full px-4 py-5 border-b sm:px-6">
                                <h3 class="text-lg font-medium leading-6 text-gray-900 dark:text-white">
                                    {{ your_appointments }}
                                </h3>
                                <p class="max-w-2xl mt-1 text-sm text-gray-500 dark:text-gray-200">
                                    {{ description }}
                                </p>
                            </div>
                            <ul class="flex flex-col divide-y divide">
                                {% for appointment in appointments %}

                                <li class="flex flex-row">
                                    <div class="flex items-center flex-1 p-4">
                                        <div class="flex flex-col items-center justify-between w-10 h-10 mr-4">
                                            <a class="relative block">
                                                <img alt="profil"
                                                    src="{{ url_for('static', path=appointment.doctor.user.personal_data.profile_photo_path) }}"
                                                    class="mx-auto object-cover rounded-full h-10 w-10 " />
                                            </a>
                                        </div>
                                        <div class="flex-1 pl-1 mr-16">
                                            <div class="font-medium dark:text-white">
                                                {{appointment.doctor.user.personal_data.full_name}}
                                            </div>
                                            <div class="text-sm text-gray-600 dark:text-gray-200">
                                                {{appointment.doctor.specialization}}
                                            </div>
                                        </div>
                                        <div class="text-xs text-gray-600 dark:text-gray-200">
                                            <dd>Дата приема: {{appointment.date_time.strftime('%d.%m.%Y в %H:%M') }}
                                            </dd>

                                        </div>
                                        <div class="flex flex-shrink-0 ml-2">
                                            {% if appointment.status == 0 %}
                                            <p
                                                class="inline-flex px-2 text-xs font-semibold leading-5 text-yellow-800 bg-yellow-100 rounded-full">
                                                {{ in_processing_status }}
                                            </p>
                                            {% elif appointment.status == 1 %}
                                            <p
                                                class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                                                {{ confirmed_status}}
                                            </p>
                                            {% elif appointment.status == 2 %}
                                            <p
                                                class="inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full">
                                                {{ completed_status }}
                                            </p>
                                            {% elif appointment.status == 3 %}
                                            <p
                                                class="inline-flex px-2 text-xs font-semibold leading-5 text-red-800 bg-red-100 rounded-full">
                                                {{ cancelled_status }}
                                            </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>

                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                    <div class="col-1">
                        <div class="mb-4">
                            <div class="w-64 bg-white shadow-lg rounded-2xl"><img alt="profil"
                                    src="{{ url_for('static', path='img/bg.png') }}"
                                    class="w-full mb-4 rounded-t-lg h-28">
                                <div class="flex flex-col items-center justify-center p-4 -mt-16">
                                    <a class="relative block">
                                        <img alt="patient_image"
                                            src="{{ url_for('static', path=personal_data.profile_photo_path) }}"
                                            class="w-16 h-16 mx-auto rounded-full ">
                                    </a>
                                    <p class="mt-2 text-xl text-center font-medium text-gray-800">
                                        {{ personal_data.full_name }}</p>
                                    <div class="flex items-center justify-between w-full gap-4 mt-8">
                                        <button type="button"
                                            class="w-full px-4 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-indigo-600 rounded-lg shadow-md hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 ">
                                            {{ btn_profile }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex gap-4 mb-4">
                            <button type="button" id="book-button"
                                class="w-full px-4 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in bg-green-500 rounded-lg shadow-md hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 focus:outline-none focus:ring-2 focus:ring-offset-2 ">
                                {{ btn_book_new }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="{{ url_for('static', path='scripts/book_appointment.js') }}"></script>
<script src="{{ url_for('static', path='scripts/modal_appointments.js') }}"></script>

{% endblock %}