{% extends "base.html" %}

{% block head %}
<script src="{{ url_for('static', path='scripts/auth.js') }}"></script>
{% endblock %}

{% block content %}

<div class="flex flex-col w-full md:p-4 md:space-y-2">
    <div
        class="relative bg-white px-4 pt-4 pb-4 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-5">
        <div class="flex items-center justify-between mb-5 text-2xl">
            <h2>{{ context }}</h2>
        </div>

        <div class="flex items-center justify-between mb-5">
            <input type="email" id="email" name="email"
                class="block w-full py-1.5 pl-4 pr-4 leading-normal rounded-2xl focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 ring-opacity-90 bg-gray-100 aa-input"
                placeholder="{{ email }}">
        </div>

        <div class="flex items-center justify-between mb-5">
            <div class="relative flex items-center w-full h-full lg:w-64 group">
                <input type="password" id="password" name="password"
                    class="block w-full py-1.5 pl-4 pr-4 leading-normal rounded-2xl focus:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 ring-opacity-90 bg-gray-100 aa-input"
                    placeholder="{{ password }}">
                <div
                    class="absolute right-0 hidden h-auto px-2 py-1 mr-2 text-xs text-gray-400 border border-gray-300 rounded-2xl md:block">
                    <button type="button" id="toggle_password" class="toggle-password">
                        <img src="{{ url_for('static', path='img/hide-16.png') }}" alt="Show Password">
                        <img src="{{ url_for('static', path='img/show-16.png') }}" alt="Hide Password" class="hidden">
                    </button>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-center justify-between mb-2">
            <button onclick="{{func_name}}"
                class="lg:w-64 flex py-2 px-4 justify-center text-base font-medium text-white bg-blue-500 rounded-2xl hover:bg-blue-400">
                {{ btn_name }}</button>
        </div>

        <span id="wrong_credentials" class="flex flex-col items-center justify-between text-sm text-red-400"></span>

        <div class="flex flex-col items-center justify-between mb-2 mt-2">
            <p>{{pre_redirect_text}}</p>
            <a class="font-bold" href="{{redirect_url}}">{{redirect_text}}</a>
        </div>
    </div>
</div>

{% endblock %}