{% extends "header.html" %}

{% block head %}
<script src="{{ url_for('static', path='scripts/auth.js') }}"></script>
{% endblock %}

{% block content %}


<div
    class="flex flex-col w-full max-w-md px-4 py-8 bg-white rounded-lg shadow dark:bg-gray-800 my-4 sm:max-w-md sm:w-full sm:mx-auto sm:overflow-hidden md:px-8 lg:px-10">
    <div class="self-center mb-6 text-xl font-light text-gray-600 sm:text-2xl dark:text-white">
        {{ context }}
    </div>
    <div class="mt-8">
        <div class="flex flex-col mb-2">
            <div class="flex relative ">
                <span
                    class="rounded-l-md inline-flex  items-center px-2 border-t bg-white border-l border-b  border-gray-300 text-gray-500 shadow-sm text-sm">
                    <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"
                            fill="currentColor" />
                    </svg>
                </span>
                <input type="email" id="email" name="email"
                    class="rounded-r-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-blue-600"
                    placeholder="{{ email }}" />
            </div>
        </div>
        <div class="flex flex-col mb-6">
            <div class="flex relative ">
                <span
                    class="rounded-l-lg inline-flex  items-center px-2 border-t bg-white border-l border-b  border-gray-300 text-gray-500 shadow-sm text-sm">
                    <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M12 17c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm6-9h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6h1.9c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm0 12H6V10h12v10z"
                            fill="currentColor" />
                    </svg>
                </span>

                <div
                    class="flex flex-auto w-full shadow-sm rounded-r-lg focus-within:ring-blue-600 focus-within:ring-2">
                    <input type="password" id="password" name="password"
                        class="w-full border border-gray-300 py-2 px-4 bg-white text-gray-700 placeholder-gray-400 text-base focus:outline-none"
                        placeholder="{{ password }}" />

                    <button id="toggle_hide_password"
                        class="rounded-r-lg items-center px-3 border-t bg-white  text-gray-500 text-sm border-b border-t border-r border-gray-300 focus:outline-none ">
                        <svg id="img_show" class="w-5 h-5" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path fill="currentColor"
                                d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z" />

                        </svg>
                        <svg id="img_hide" class="w-5 h-5 hidden" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z" fill="none" />
                            <path fill="currentColor"
                                d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z" />

                        </svg>

                    </button>
                </div>

            </div>
        </div>
        <div class="flex items-center mb-3 -mt-4 hidden">
            <div class="flex ml-auto">
                <a href="#"
                    class="inline-flex text-xs font-thin text-gray-500 sm:text-sm dark:text-gray-100 hover:text-gray-700 dark:hover:text-white">
                    {{ forgot_password }}
                </a>
            </div>
        </div>

        <div id="error_message_block" class="flex items-center justify-center -mt-3 hidden">
            <span id="error_message_text"
                class="inline-flex items-center font-thin text-center text-red-500 dark:text-red-400">
            </span>
        </div>

        <div class="flex w-full mt-3">
            <button onclick="{{func_name}}"
                class="py-2 px-4 bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                {{ btn_name }}
            </button>
        </div>
    </div>
    <div class="flex items-center justify-center mt-6">
        <a href="{{redirect_url}}"
            class="inline-flex items-center text-xs font-thin text-center text-gray-500 hover:text-gray-700 dark:text-gray-100 dark:hover:text-white">
            <span class="ml-2">
                {{pre_redirect_text}}
            </span>
        </a>
    </div>
</div>

{% endblock %}