{% extends "base.html" %}
{% block body %}

<body>
    <div class="min-h-screen overflow-hidden bg-gray-50 dark:bg-gray-700">
        <div>
            <nav class="rounded-b-lg bg-white dark:bg-gray-800 shadow ">
                <div class="px-8 mx-auto max-w-7xl">
                    <div class="flex items-center justify-between h-16">
                        <div class=" flex items-center">

                            <img class="flex-shrink-0 w-8 h-8"
                                src="{{ url_for('static', path='img/clinic-96.png') }}" />

                            <div class="hidden md:block">
                                <div class="flex items-baseline ml-10 space-x-4">
                                    <a class="text-gray-900 dark:text-gray-300  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                                        href="/me">
                                        {{appointment_btn}}
                                    </a>
                                    <a class="text-gray-900 dark:text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                                        href="https://github.com/deathlokmike/clinic">
                                        {{source_code}}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <button type="button" onclick="logoutUser()"
                                class="flex items-center justify-center w-full rounded-md  px-3 py-2 bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-gray">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
                                </svg>
                                {{ logout_btn }}
                            </button>

                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="flex flex-col">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>

{% endblock %}