{% extends "base.html" %}

{% block content %}


<form name="Item_1" action="/adsdappointment" method="POST">
    <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 ">Select an option</label>
    <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
        {% for colour in colors %}
            <option value="{{ colour }}" SELECTED>{{ colour }}</option>
        {% endfor %}
    </select>
</form>

{% endblock %}