<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles/registration.css') }}">
</head>
<body>
<div class="container">
    <div class="logo">
        <img src="clinic-logo.png" alt="Clinic Logo">
    </div>
    <h2>Registration</h2>
    <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password_field">Password:</label>
        <div class="password-container">
                <input type="password" id="password_field" name="password" required>
                <button type="button" id="toggle_password" class="toggle-password">
                    <img src="{{ url_for('static', path='images/hide-16.png') }}" alt="Show Password">
                    <img src="{{ url_for('static', path='images/show-16.png') }}" alt="Hide Password" class="hidden">
                </button>
            </div>

        <label for="repeat_password_field">Repeat Password:</label>
        <input type="password" id="repeat_password_field" name="repeat-password" required>

        <div class="button-container">
            <button type="submit" class="register-button">Register</button>
        </div>
    </form>
    <p>Already registered? <a href="#">Log in</a></p>
</div>
<script src="{{ url_for('static', path='scripts/registration.js') }}" ></script>
</body>
</html>